<div class="center hero-unit">
    <h1>Debate Cards app</h1>

    <h2>
      Store, view, and manage your team's debate evidence from here
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
</div>
<h1>Debate Cards</h1>
<p>My future home</p>
<%= link_to "Cards Index", cards_path %>
<%- if user_signed_in? %>
  <%= link_to "New Card", new_card_path %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%- else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<%- end %>

