
<% if user_signed_in? %>
  <div class="center hero-unit">
    <h1>Welcome <%= current_user.email %></h1>

    <h2>
      Click one of the buttons below to continue
    </h2>

    <%= link_to "View Backfiles", cards_path,
                                class: "btn btn-large" %>
    <%= link_to "Search", new_search_path,
                                class: "btn btn-large" %>
    <%= link_to "Create Card", new_card_path,
                                class: "btn btn-large" %>
</div>

<% else %>

<div class="center hero-unit">
    <h1>Debate Cards</h1>

    <h2>
      Take your high school or college debate team paperless by storing, viewing, and managing your team's evidence
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
</div>
<h1>Debate Cards</h1>
<p>My future home</p>
<%= link_to "Cards Index", cards_path %>
<%- if user_signed_in? %>
  <%= link_to "New Card", new_card_path %>
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
<%- else %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "Sign In", new_user_session_path %>
<%- end %>

<% end %>

