
<% if user_signed_in? %>
  <div class="center hero-unit">
    <h1>Welcome <%= current_user.email %></h1>

    <h2>
      Click one of the buttons below to continue
    </h2>

    <%= link_to "View Backfiles", cards_path,
                                class: "btn btn-large" %>
    <%= link_to "Search", new_search_path,
                                class: "btn btn-large" %>
    <%= link_to "Create Card", new_card_path,
                                class: "btn btn-large" %>
</div>

<% if (@cards) %>
      <% if (@cards.empty?) %>
        <p>No cards found. Please try another search.</p>
      <% else %>
    <% @cards.each do |card| %>
      <div class="card">
      <div class="tag">
        <h2><%= link_to card.tag, card %></h2>
      </div>
      <div class="author">
        <p><strong><%= card.author %> in <%= card.date %></strong></p>
      </div>
      <div class="evidence">
        <p><%= card.evidence %></p>
      </div>
      <div class="meta">
        <%= link_to "Card posted " + time_ago_in_words(card.created_at) + " ago", card %>
        <span class="admin">
          | <%= link_to 'Edit', edit_card_path(card) %> |
          <%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %>
        </span>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>

<% else %>

<div class="center hero-unit">
    <h1>Debate Cards</h1>

    <h2>
      Take your high school or college debate team paperless by storing, viewing, and managing your team's evidence
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path,
                                class: "btn btn-large btn-primary" %>
</div>

<% end %>

