<h1>All cards</h1>
<%= link_to 'New Card', new_card_path %>


<% @cards.each do |card| %>
    <h2><%= link_to card.tag, card %></h2>
    <p><%= card.author %> in <%= card.date %></td>
    <p><%= card.evidence %></p>
    <%= link_to 'Edit', edit_card_path(card) %></td>
    <%= link_to 'Delete', card, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<br />

