

  <h2><%= @card.tag %></h2>

<p>
  <%= @card.author %> in <%= @card.date %>
</p>

<p>
  <%= @card.evidence %>
</p>
<p>
  <%= @card.tag_list %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Index', cards_path %>
